@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

header{
    width: 1366px;
    height: 256px;
    background: black url(../pictures/background-curriculo.jpg) center no-repeat;
    background-size: cover;
}

img{
    height: 200px;
    width: 200px;
    padding: 28px 0px 28px 141px;
}

div{ 
    height: 60px;
    width: 60px;
    margin-left: 346px;
    border-radius: 50px;
    color: white;
    background-color: #202020;
    border: 1px solid red;
}


