@charset "UTF-8";

/* Typical Device Breakpoints

Celulares menores: 576px até 767.98px
Celulares e alguns Tablets: 768px até 991.98px
Tablets: 992px até 1199.98px
Notebooks: 1200px até 1399.98px
Desktop e Telas maiores: 1400px

*/

@media screen and (min-width:  768px) {
    span#burguer{
        display: none;
    }

    menu{
        display: block !important;
    }

    menu > ul > li{
        display: inline-block;
    }

    main{
        width: 768px;
    }
}
