@charset "UTF-8";

/* Salvar Cores
0D1B2A (Azul Escuro)
1B263B (Azul Meio Escuro)
415A77 (Azul Meio Claro)
778DA9 (Azul Claro)
E0E1DD (Quase Branco)
*/

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    height: 100%;
}

body{
    background-image: linear-gradient(to top, #0D1B2A, #778DA9);
    
}

/* Headers */
#header-prin{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.681);
}

/* Div Titulo*/
#titulo{
    height: 150px;
    background-color: #0D1B2A;
    width: 100%;
}

/* Titulo Principal */
#titulo-principal{
    display: flex;
    height: 60px;
    padding: 50px;
    justify-content: center;
    color: transparent;
    background: linear-gradient(to right, rgb(143, 193, 231) 30%, white);
    background-clip: text;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.471);
}

/* Foto */
#foto{
    display: flex;
    justify-content: center;
    height: 260px;
}
