@charset "UTF-8";

/* 

Typical Device Breakpoints:

Celulares menores: 320px até 480px 
Alguns Celulares e Tablets: 481px até 768px
Desktop pequenos: 769px até 1024px
Desktop e Telas maiores: 1025px pra cima

*/

@media screen and (min-width:481px) and (max-width: 768px){

    body, html{
        background-image: linear-gradient(to top, var(--marrom-01), var(--marrom-02));
    }  
    
    /*  Section: Login */
    section#login {
        width: 750px; 
        height: 350px; 
        display: flex; 
        flex-direction: row; 
    }

    /*  Imagem do Main */
    section > div#imagem {
        width: 250px; 
        height: 100%;
        background-position: left bottom;
        border-radius: 20px 0px 0px 20px; 
    }
    
    /*Div: Formulário*/
    section > div#formulario {
        width: 70%; 
        padding: 10px; 
    }

    /*  P do Main */
    main > section > div#formulario > p{
        margin-top: 10px;
        margin-bottom: 20px;
    }

    /*  Divs > Icons e Inputs */
    main > section > div#formulario > form > div.input{
        height: 45px;
        margin-bottom: 10px;
    }

    /*  Input: Email e Senha */
    main > section > div#formulario > form > div.input > input {
        top: 4px;
        width: calc(100% - 40px); 
    }

    /*  Box: Entrar e Esq. Senha */
    main > section > div#formulario > form > div#menu-footer {
        height: 150px;
    }

    /*  Entrar e Esq. Senha */
    main > section > div#formulario > form > div#menu-footer > input{
        margin: 10px 0 5px 0;
    }

    /*  Input: Sair */
    main > section > div#formulario > form > div#menu-footer > input.sair{
        margin-bottom: 0;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px){

    body, html{
        background-image: linear-gradient(to top, var(--marrom-01), var(--marrom-02));
    }  

    /*  Section: Login */
    section#login {
        width: 800px; 
        height: 400px; 
        display: flex; 
        flex-direction: row-reverse; 
    }

    /*  Imagem do Main */
    section > div#imagem {
        width: 350px; 
        height: 100%;
        background-position: left bottom;
        border-radius: 0 20px 20px 0; 
    }
    
    /*Div: Formulário*/
    section > div#formulario {
        width: 80%; 
        padding: 10px; 
    }

    /*  P do Main */
    main > section > div#formulario > p{
        margin-top: 10px;
        margin-bottom: 20px;
    }

    /*  Divs > Icons e Inputs */
    main > section > div#formulario > form > div.input{
        height: 50px;
        margin-bottom: 10px;
    }

    /*  Input: Email e Senha */
    main > section > div#formulario > form > div.input > input {
        top: 4px;
        width: calc(100% - 40px); 
        height: 39px;
    }

    /*  Box: Entrar e Esq. Senha */
    main > section > div#formulario > form > div#menu-footer {
        height: 160px;
    }

    /*  Entrar e Esq. Senha */
    main > section > div#formulario > form > div#menu-footer > input{
        margin: 10px 0 5px 0;
        height: 55px;
    }

    /*  Input: Sair */
    main > section > div#formulario > form > div#menu-footer > input.sair{
        margin-bottom: 0;
    }

}
