@charset "UTF-8";

/* 
Style for: Celulares Menores

Typical Device Breakpoints:

Celulares menores: 576px até 767.98px 
Celulares e alguns Tablets: 768px até 991.98px
Tablets: 992px até 1199.98px
Notebooks: 1200px até 1399.98px
Desktop e Telas maiores: 1400px

*/

/*  Configurações Gerais */
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

/*  Variáveis */
:root{
    --marrom-01: #a98467;
    --marrom-02: #6c584c;
}

/*  Body e Html */
body, html{
    height: 98vh;
    width: 98vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
    background-color: var(--marrom-02);
    overflow-y: hidden;
    
}

/*  Main */
section#login{
    height: 445px;
    width: 280px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 5px black;
}

/*  Imagem do Main */
div#imagem{
    height: 30vh;
    background: black url(../imagens/pexels-predio.jpg) right bottom no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}

/*  H1 do Main */
main > section > div#formulario > h1{
    text-align: center;
    margin: 10px 10px 5px 10px;
}

/*  P do Main */
main > section > div#formulario > p{
    text-align: center;
    margin: 10px;
}

/*  Divs > Icons e Inputs */
main > section > div#formulario > form > div.input {  
    height: 40px;
    width: 259px;
    margin: 10px 10px 5px 10px;
    border-radius: 10px;
    background-color: var(--marrom-02);   
}

/* Input: Senha */
main > section > div#formulario > form > div#input-senha{
    margin-bottom: 0px;
}

/*  Icons */
main > section > div#formulario > form > div.input > label {
    position: relative;
    top: 7px;
    left: 7px;
}

/*  Input: Email e Senha */
main > section > div#formulario > form > div.input > input {
    height: 32px;
    width: 215px;
    position: relative;
    top: 1px;
    left: 12px;
    bottom: 2px;
    border: none;
    border-radius: 10px;
}

/*  Hover dos Inputs */
main > section > div#formulario > form > div.input > input:hover{
    background-color: lightgrey;
}

/*  Box: Entrar e Esq. Senha */
main > section > div#formulario > form > div#menu-footer {
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2px;
}

/*  Entrar e Esq. Senha */
main > section > div#formulario > form > div#menu-footer > input {
    height: 55px;
    width: 255px;
    cursor: pointer;
    margin: 2px;
    border: 1px solid rgb(80, 121, 110);
    border-radius: 7px;
}


/*  Input: Entrar */
main > section > div#formulario > form > div#menu-footer > input.entrar{
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(112, 174, 157);
}

/*  Input: Sair */
main > section > div#formulario > form > div#menu-footer > input.sair {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.785);
}

/*  Hover Inputs: Entrar e Esq. Senha */
main > section > div#formulario > form > div#menu-footer > input#input:hover{
    background-color: rgb(83, 119, 110);
}



